apiVersion: v1
kind: Service
metadata:
  name: movie-booking-service
spec:
  selector:
    app: movie-booking
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: movie-booking
spec:
  replicas: 3
  selector:
    matchLabels:
      app: movie-booking
  template:
    metadata:
      labels:
        app: movie-booking
    spec:
      containers:
      - name: movie-booking-container
        image: vishaalaravinth/movie-booking:1.0
        ports:
        - containerPort: 5000

