apiVersion: v1
kind: Service
metadata:
  name: movie-booking-service
spec:
  selector:
    app: movie-booking
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: movie-booking
spec:
  replicas: 3
  selector:
    matchLabels:
      app: movie-booking
  template:
    metadata:
      labels:
        app: movie-booking
    spec:
      containers:
      - name: movie-booking-container
        image: vishaalaravinth/movie-booking:2.0
        ports:
        - containerPort: 5000
---
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: movie-booking
  namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: movie-booking
  strategy:
    blueGreen:
      activeService: movie-booking-service
      previewService: movie-booking-preview-service
      autoPromotionEnabled: true
  template:
    metadata:
      labels:
        app: movie-booking
    spec:
      containers:
      - name: movie-booking
        image: vishaalaravinth/movie-booking:2.0
        ports:
        - containerPort: 5000

