<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmyshow-at-aascars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #ffffff; /* White background color */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-5">Aascars Multiplex Movie Ticket Booking Site</h1>
        <div class="row justify-content-center">
        {% for movie_id, movie_info in movies.items() %}
            <div class="col-md-4 mb-4">
                <div class="card border-primary">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie_info['title'] }}</h5>
                        <p>Available Tickets: {{ movie_info['seats'] }}</p>
                        <ul class="list-group list-group-flush">
                            {% for showtime in movie_info['showtimes'] %}
                                <li class="list-group-item">
                                    <form action="/book" method="post">
                                        <input type="hidden" name="movie_id" value="{{ movie_id }}">
                                        <input type="hidden" name="showtime" value="{{ showtime }}">
                                        Showtime: {{ showtime }} 
                                        <input type="number" name="num_tickets" placeholder="Tickets" min="1" max="{{ movie_info['seats'] }}" required>
                                        <button type="submit" class="btn btn-primary">Book</button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>
